{% extends "base.html" %}

{% block content %}

    <div class="homepage" style="height: 30em">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container homepageText">
            <h1 id="welcome">Welcome! </h1>
            <p id="intro">This is a Web Interface for the Real-time Instrument Monitoring System</p>
        </div>

    </div>

    {#    create sites for registered organsation#}
    {% for organisation in all_organisations %}

        <a title="{{ organisation[0] }}" href="{{ url_for("core.details",o_name=organisation[0]) }}">
            <img class="logoImg" src="{{ url_for('static', filename='organisation_pics/' + organisation[1]) }}"/>
        </a>

    {% endfor %}

    <script>
        $('img').each(function () {
            $(this).attr('src', $(this).attr('delayedsrc'));
        });
    </script>
{% endblock %}