{% extends "base.html" %}

{% block content %}
<script src="{{url_for('static',filename='echarts.js')}}"></script>

{#    <div  class="container">#}
{#        <div class="warpper">#}
        <div id="menu" class="sidebar textCenter">
            <ul class="widget widget-menu short">
                <ul class="widget widget-menu">
                    <li><a class="collapsed" data-toggle="collapse"  href="#togglePages">
                        Select Instrument <i class="fas fa-angle-down pull-right"></i>
{#                        <i class="fas fa-angle-up pull-right"></i>#}
                         </a>
{#                        <form method="POST" name="select_ins" role="form" action="/detail">#}


{#                        <form method='GET' name="select_ins" action="/detail">#}
{#                        <ul id="togglePages" class="collapse">#}
{#                            <select name="" id="">#}
                             {% for instrument in all_instruments %}
                                <li><a  class="ins_select" href="#">{{ instrument }}</a></li>
{#                                 <option value={{ instrument }}> {{ instrument }}</option>#}
                             {% endfor %}
{#                            </select>#}
{#                        </ul>#}
{#                        </form>#}

{#                    </form>#}
                    </li>
                </ul>
            </ul>
        </div>

    <div class="jumbotron jumbotron-fluid">

  <div class="container full">
      <div id="detailCenter">
      <h1 class="display-4" >details</h1>
      <p class="lead">There are some more components including a time picker and charts</p>
          </div>

                <form method="POST" name="select_ins" role="form" action="/detail">

{#        timepicker   #}
  <br>
{#			  <form method="post" role="form" action="/detail">#}
                  <div style="float:left">
                <label for="from">from</label>
				<input type="text" id="fromdate" name="starttime1">
				<input type="text" id="fromtime" name="starttime2">
				<label for="to">to</label>
				<input type="text" id="todate" name="endtime1">
				<input type="text" id="totime" name="endtime2">
			</br>
					<script type="text/javascript">
						$("#fromdate").datetimepicker({
							format: " yyyy-mm-dd",
							autoclose: true,
							todayBtn: false,
							pickerPosition: "bottom-left",
							minView: "month"
						});

						$("#todate").datetimepicker({
							format: " yyyy-mm-dd",
							autoclose: true,
							todayBtn: false,
							pickerPosition: "bottom-left",
							minView: "month"
						});
					</script>
                      </div>
                  <div style="float:left">
                  <button type="submit" class="btn btn-light">Search</button>
{#			<input type= "hidden" name = "form" value="data">#}
                      </div>


		  </form>
			</div>


    </div>
</div>

     <div id="main" style="width: 600px;height:400px;">{{ date_time }}</div>
    <h1> Hi, {{  date_time }}</h1>
{#    {{ date_time }}#}
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例

        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts'
            },
            tooltip: {

            },
            legend: {
                data:['sale']
            },
             dataZoom: [
        {   // 这个dataZoom组件，默认控制x轴。
            type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
            start: 10,      // 左边在 10% 的位置。
            end: 60         // 右边在 60% 的位置。
        }
    ],
            xAxis: {
            	type: 'time',
            	data: ['a','b','c'],
            	boundaryGap: false,
                min: 1530288000000,
                max: 1530288000000+24*3600*1000-15*60*1000,
                dateTimeLabelFormats:{
            	    day: '00:00',
                    hour: '%H:00',
                },
                interval:1000*60*60,
                labels: {
                    rotation: 0,
                    step: 2
                }

                // data: ["a","b","c","d","e","f"]
            },
            yAxis: {
            	type: 'value'
            },
            series: [{
                name: 'sale',
                type: 'line',
                data: [],
                areaStyle: {}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option, true);
    </script>


<script src="{{url_for('static',filename='select.js')}}"></script>
{% endblock %}