    <script src="{{ url_for('static',filename='echarts.js') }}"></script>
    <div class="container">
    <div id="line" style="width: 625px;height:350px; float:left; margin-left: 20px; margin-top: 40px; padding-left:20px "></div>
    <script type="text/javascript" >
        // 基于准备好的dom，初始化echarts实例
            console.log("{{ ins_data }}");
            var myChart = echarts.init(document.getElementById('line'));
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'Instrument \n{{ selected_instrument }}',
                    padding: [0,50,50,50],
                },
                tooltip: {
                },
                 toolbox: {
                    feature: {
                        {#dataView: {show: true, readOnly: false},#}
                        restore: {show: true},
                        saveAsImage: {show: true},
                        formatter: function (value, index) {
                            if (value === 1) {
                                var text = "running"
                            }
                            {#else if(value ===0){#}
                            {#    var text = "finish"#}

                            return text
                        }
                    }
                 },
                legend: {
                    data: ['running status']
                },
                dataZoom: [
                    {   // 这个dataZoom组件，默认控制x轴。
                        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                        start: 0,      // 左边在 10% 的位置。
                        end: 100         // 右边在 60% 的位置。
                    },
                     {   // 这个dataZoom组件，也控制x轴。
            type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
            start: 0,      // 左边在 10% 的位置。
            end: 100         // 右边在 60% 的位置。
        }
                ],
                xAxis: {
                    type: 'time',
                    axixTick: {
                        show: true,
                    },
                    axisLabel: {

                    },
                    axisPointer: {
                        show: true
                    },

                    {#set min 1 sec advance the start time to make sure the first data absorbed in graph#}
                    {#this is a bug of eCharts#}
                    min: {{ start_time }} - 1000,
                    max: {{ end_time }},
                    dateTimeLabelFormats: {
                        day: '00:00',
                        hour: '%H:00',
                    },
                    axisLine: {

                    },
                    splitNumber: 10,
                    {#minInterval: 3600*1000,#}

                    labels: {
                        rotation: 90,
                        step: 2
                    }
                },
                yAxis: [{
                    max:1.5,
                    {#splitLine:{show: false},#}
                    type: 'value',
                    splitNumber: 3,
                    axisLabel: {
                        show: true,
                        formatter: function (value, index) {
                            if (value === 1) {
                                var text = "running"
                            }
                            return text
                        }
                    }
                }
                      ],
                 grid3D: {
        boxWidth: 200,
        boxDepth: 80,
        light: {
            main: {
                intensity: 1.2
            },
            ambient: {
                intensity: 0.3
            }
        }
    },
                series: [{
                    name: 'running status',
                    type: 'line',
                    step: 'end',
                    data: {{ ins_data['data'] }},
                    areaStyle: {}

                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option, true);

    console.log({{ ins_data['data'] }})

    </script>

        <div id="pie" style="width: 345px;height:335px;margin-left:0;float: left; margin-top:60px; "></div>
    <script>
        // 绘制图表。
        echarts.init(document.getElementById('pie')).setOption({


            series: {
                type: 'pie',
                radius: '90px',
                data: [
                    {name: 'Uptime', value: {{ins_data['uptime']}}},
                    {name: 'Downtime', value: {{ins_data['downtime']}}},
                    {#{name: 'C', value: 1919}#}
                ],
                label: {
                    show: true,
                    normal: {
                        show: true,
                        position: 'outside',
                        formatter: '\n {b}:\n {d}%\n   {c}h \n'
                    }
                },
                labelLine: {
                    length: 8
                }
            }
        })
    </script>
</div>

