{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<div class="container" style="width: 25em">
{# <div class="col">#}
{#    <div class="row">#}
        <br>

    <br>
    <br>
    <br>
    <br>
{#    </div>#}
{#    <div class="row">#}

<div class = "loginForm rounded">
<form method="POST">
{# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
  <div class="form-group">
      {{ form.email.label() }}
      {{ form.email(class="form-control",placeholder="Enter email") }}

  </div>
  <div class="form-group">
     {{ form.password.label() }}
     {{ form.password(class="form-control", placeholder="Password") }}
  </div>
   {{ form.submit(class="btn btn-primary") }}
</form>
     {% with messages = get_flashed_messages() %}
  {% if messages %}
      <br>
      <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    </div>
</div>

</div>
{% endblock %}




