{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for('static',filename='echarts.js') }}"></script>


        <div id="detailCenter" class="jumbotron jumbotron-fluid"  style="height: 15em;">
                <h1 class="display-4">details</h1>
                <p class="lead">some introduction etc. blah blah blah...</p>

            <div id="span" class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-bottom:13px">
                  <label id="default" for="1week" class="btn btn-secondary choice" data-span="1week">
                    <input id="1week" type="radio" name="span"  autocomplete="off"> 1 week
                  </label>
                  <label for="1month" class="btn btn-secondary choice" data-span="1month">
                    <input id="1month" type="radio" name="span"  autocomplete="off"> 1 month
                  </label>
                  <label for="6months" class="btn btn-secondary choice" data-span="6months" >
                    <input id="6months" type="radio" name="span"  autocomplete="off"> 6 months
                  </label>
                  <label for="1year" class="btn btn-secondary choice" data-span="1year"  >
                    <input id="1year" type="radio" name="span" autocomplete="off"> 1 year
                  </label>
                </div>

                <form id="datePicker">
                <div style="text-align: center">
                    <label for="fromdate">from</label>
                    <input type="text" id="fromdate" autocomplete="off" name="start_time">
                    <label for="todate">to</label>
                    <input type="text" id="todate" autocomplete="off" name="end_time">
                    <script type="text/javascript">
                        $("#fromdate").datetimepicker({
                            format: "yyyy-mm-dd",
                            autoclose: true,
                            todayBtn: false,
                            pickerPosition: "bottom-left",
                            minView: "month"});

                        $("#todate").datetimepicker({
                            format: "yyyy-mm-dd",
                            autoclose: true,
                            todayBtn: false,
                            pickerPosition: "bottom-left",
                            minView: "month"});
                    </script>
                    <button type="submit" class="btn btn-light" style="margin-bottom: 5px; height: 25px; padding-bottom:23px">Search</button>
                </div>
            </form>

        <div class="btn-group btn-group-lg" role="group" style="float: left; padding-left: 2em">
              <button id="single" type="button" class="btn btn-secondary active" style="width: 5.5em">Single</button>
                <button id="multiple" type="button" class="btn btn-secondary" style="width: 5.5em">Multiple</button>
        </div>
                </div>



    <section id="sidebar">
    <div id="menu" class="sidebar textCenter">
    <div style="overflow:hidden;clear:both;">

        <ul class="widget widget-menu short"  style="height:22em;overflow-y:scroll;">

                <li id="ins_menu"><a href="#togglePage" class="collapsed" data-toggle="collapse"  style="color:white">
                    Select Instrument <i class="fas fa-angle-down pull-right" ></i>
                    {#                        <i class="fas fa-angle-up pull-right"></i>#}
                </a>
                </li>
{#                    <div>#}

                    {% for instrument in all_instruments %}
                        <li class="ins"><a data-name='{{ instrument }}' class="ins_select"
                               href="#">{{ instrument }}</a></li>
                        {#                                 <option value={{ instrument }}> {{ instrument }}</option>#}
                    {% endfor %}

        </ul>
    </div>
    </div>
    </section>

   <section id="graph"></section>

  <script src="{{ url_for('static',filename='select.js') }}"></script>

{% endblock %}

